DATABASE_URL="sqlite:///./data/messages.db"
WHATSAPP_API_KEY="......"
PHONE_NUMBER_ID="......"
CLIENT_PHONE_NUMBER="...."
DUMMY_MESSAGE=true #fix error tamplates whatsapp
JOBS_DATABASE_URL="sqlite:///./data/jobs.db"

VITE_API_URL=http://localhost:8080